---
layout: default
---

<div class="home">

	<hr>
  <h1 class="page-heading">Projects</h1>

  <ul class="project-list">
    {% for project in site.projects %}
      <li>
        <div class='project-container'>
          <div class='project-icon'>
            <img src="/images{{ project.url }}{{ project.icon }}"/>
          </div>
          <div class='project-info'>
            <h2>
              <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
            </h2>
            <ul class='tag-list'>
              {% for tag in project.tags %}
                <li class="tag tag-{{ tag | downcase | replace:' ','-' }}">{{ tag }}</li>
              {% endfor %}
            </ul>
            <p>{{ project.excerpt }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>

<div class="home">

  <hr>
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        
        <div class='post-container'>
          <div class='post-icon'>
            <img src="/images{{ post.url }}{{ post.icon }}"/>
          </div>
        <div class='post-info'>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.excerpt }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
  
    <hr>
  <h1 class="page-heading">Talks</h1>

  <ul class="talk-list">
    {% for talk in site.talks %}
      <li>
        <span class="talk-meta">{{ talk.date | date: "%b %-d, %Y" }}</span>
        
        <div class='talk-container'>
          <div class='talk-icon'>
            <img src="/images{{ talk.url }}{{ talk.icon }}"/>
          </div>
        <div class='talk-info'>
          <h2>
            <a class="talk-link" href="{{ talk.url | prepend: site.baseurl }}">{{ talk.title }}</a>
          </h2>
          <p>{{ talk.excerpt }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>


