
/* Index page summary items */
.summary-list {
  overflow: auto;  // Clear floats.

  li {
    list-style: none;
  }
  .summary-container {
    clear: both;
  }
  
  h2, ul {
    margin-bottom: 0px;
  }

  @import "tags";

  %summary-icon-shared {
    width: 128px;
    height: 128px;
    float: left;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .summary-icon {
    @extend %summary-icon-shared;
  }
  
  .summary-icon-square {
    @extend %summary-icon-shared;
    border: 2px solid black;
  }

  .summary-info {
    padding: 10px;
    
    p:empty {
      display: none;
    }
    
    p {
      line-height: 16px;
      margin-top: 8px;
    }
  }
  .summary-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  .summary-link {
      display: block;
      font-size: 24px;
  }
}

