
  
li.tag {
  white-space: nowrap;
  font-size: 12px;
  padding: 4px;
  line-height: 10px;
  border-radius: 15px;
  opacity: 0.65;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 2px 2px #00000030;
  cursor: pointer;
}

div.tagClose {
  display: inline-block;
  font-size: 8px;
  width: 8px;
  height: 10px;
  margin-left: 4px;
  padding-left: 2px;
  border: 1.5px solid;
  border-radius: 6px;
}

li.tag-visualization { 
  color: #B6D4DD;
  background-color: #0A5A83;
  border-color: #4189A5;
}

li.tag-machine-learning {
  color: #B3D1AA;
  background-color: #3F6C33;
  border-color: #629354;
}

li.tag-coffeescript {
  color: #CFA198;
  background-color: #6D3117;
  border-color: #935545;
}

li.tag-robotics {
  color: #A7CFD8;
  background-color: #205063;
  border-color: #3E8093;
}

li.tag:hover { 
  opacity: 1;
  box-shadow: 2px 2px 2px #00000050;
}

li.tag.highlighted {
  opacity: 1;
  box-shadow: 2px 2px 2px #00000050;
}